---
import Layout from '../layouts/Layout.astro';
import { contentfulClient } from "../lib/contentful";
const entries = await contentfulClient.getEntries({
    content_type: "propiedades",
    limit: 1000,
});


---
<Layout>	
	<main class="js-scroll">
		<!-- Intro -->
		<header class="hero hero-intro overlay--45">
			<div class="hero__header">
				<h1 class="title title--display-1 js-lines" style="text-align: center;">Grupo Castillo Mérida.</h1>
			</div>
			
			<div class="note">
				<div class="note__item js-scroll-show">  
					<h4 class="title title--display-1"></h4>
					<p class="description">Bienvenido a Grupo Castillo Mérida, tu puerta al futuro inmobiliario en Yucatán. Descubre oportunidades únicas en casas, terrenos y más. Te ayudamos a crecer tu patrimonio.</p>
				</div>
			</div>
			
			<!-- Social -->
			<div class="social social-floating">
				<a class="social__link" href="https://www.facebook.com/GrupoCastilloMerida"><i class="icon-facebook"></i></a>
				<a class="social__link" href="https://www.instagram.com/grupocastillomerida?igsh=emE0eTMyeGI3bTVt"><i class="icon-instagram"></i></a>
			</div>

			<!-- Main image -->
			<img class="hero__image cover js-scale js-parallax" src="assets/img/banner-principal.jpeg" alt="" />
		</header>
		
		<!-- About -->
		<div class="container section-about">
			<span class="text-rotate">Sobre Nosotros</span>
			<!-- Description -->
			<div class="row justify-content-center">
				<div class="col-12">
					<h2 class="title title--h2 js-lines">SOBRE NOSOTROS</h2>
					<div class="description description-column js-scroll-show">
						<p>Somos una empresa inmobiliaria dedicada a la venta y renta de casas y terrenos, así como a la elaboración de contratos de compra-venta y asesoría jurídica.</p>
						<p>Nuestro equipo está formado por expertos en el campo inmobiliario, quienes combinan su profundo conocimiento del mercado local con una visión innovadora para identificar y ofrecer propiedades de alta calidad. Ya sea que estés buscando un terreno de inversión estratégico o el lugar perfecto para construir tu hogar, estamos comprometidos a brindarte soluciones que se adapten a tus metas y estilo de vida. En Grupo Castillo, nuestro objetivo es ser tu aliado confiable en el camino hacia un futuro próspero y exitoso.</p>
					</div>
				</div>
			</div>
			
			<!-- Gallery -->
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="gallery gallery-two">
						<div class="gallery__item reveal-box">
							<img class="cover lazyload" src="assets/img/foto1.jpg" alt="" style="aspect-ratio: 4 / 3;"/>
							<span class="reveal-overlay"></span>
						</div>
						<div class="gallery__item reveal-box">
							<img class="cover lazyload" src="assets/img/foto2.jpg" alt="" style="aspect-ratio: 4 / 3;"/>
							<span class="reveal-overlay"></span>
							<a href="/nosotros" class="btn-link js-scroll-show">Conoce más</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Cases -->
		<div class="container section-about">
			<span class="text-rotate">Nuestros Proyectos</span>
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-6">
					<h2 class="title title--h1 js-lines">ÚLTIMAS PROPIEDADES</h2>
					<div class="description js-scroll-show">
						<p>¡Descubre nuestras últimos propiedades inmobiliarias en Yucatán! Invierte en tu futuro con Grupo Castillo Mérida.</p>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Slider -->
		<div class="project-slider project-slider-control-horizon swiper-container cursorDrag">
			<div class="swiper-wrapper">
				{entries.items.map((item) => (
				<figure class="project-slider__item swiper-slide">
					<div class="reveal-box">
						<h2>{item.fields.titulo}</h2>
						<a href={`/propiedades/${item.fields.handle}`}>
							<img class="cover lazyload" src={item.fields.fotos[0].fields.file.url} alt="" />
						</a>
						<span class="reveal-overlay"></span>
					</div>
				</figure>

				))}
			</div>
			
			<!-- Control -->
			<div class="slider__control slider__control__control-horizon">
				<div class="slider-pagination-progressbar slider-pagination-progressbar-horizon"></div>
			</div>
		</div>
	</main>
</Layout>

