---
import Layout from '../layouts/Layout.astro';
---

<Layout>
        <!-- About Us -->
        <main class="js-scroll">
            <header class="header-page">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="title title--display-1 js-lines">Nosotros.</h1>
                        </div>
                        <div class="col-12 col-lg-8">
                            <p class="foreword js-scroll-show">Te ayudamos a seguir construyendo tu patrimonio.</p>
                        </div>	
                    </div>
                </div>				
                <div class="image-gutter">
                    <div class="reveal-box">
                        <img class="cover" src="assets/img/banner-nosotros.jpeg" alt="" />
                        <span class="reveal-overlay"></span>
                    </div>
                    <span class="text-rotate">Nosotros</span>
                </div>
            </header>		
    

            
<!--             <div class="container-fully section-about">
                <div class="row">
                    <div class="col-12">
                        <h1 class="title title--h1 js-lines">Nuestro Equipo.</h1>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-6">
                        <p class="description js-scroll-show">Conoce a nuestro equipo.</p>
                    </div>
                </div>
        
                <div class="content-grid project-masonry">
                    <div class="gutter-sizer"></div>
                    
                    <figure class="content-grid__item js-scroll-show">
                        <div class="content-grid__link">
                            <picture class="content-grid__image-wrap image-wrap-fit js-zooming">
                                <img class="content-grid__image cover" src="assets/img/person_01.jpg" alt="Person" />
                            </picture>
                            <div class="content-grid__caption">
                                <h2 class="content-grid__name title--h5">Roberta Larson</h2>
                                <p class="content-grid__role">CEO Manager</p>
                            </div>
                        </div>
                    </figure>
    
                    
                    <figure class="content-grid__item js-scroll-show">
                        <div class="content-grid__link">
                            <picture class="content-grid__image-wrap image-wrap-fit js-zooming">
                                <img class="content-grid__image cover" src="assets/img/person_02.jpg" alt="Person" />
                            </picture>
                            <div class="content-grid__caption">
                                <h2 class="content-grid__name title--h5">Lily Sutton</h2>
                                <p class="content-grid__role">Interior Designer</p>
                            </div>
                        </div>
                    </figure>

    
                    
                    <figure class="content-grid__item js-scroll-show">
                        <div class="content-grid__link">
                            <picture class="content-grid__image-wrap image-wrap-fit js-zooming">
                                <img class="content-grid__image cover" src="assets/img/person_03.jpg" alt="Person" />
                            </picture>
                            <div class="content-grid__caption">
                                <h2 class="content-grid__name title--h5">Roberta Larson</h2>
                                <p class="content-grid__role">Architect</p>
                            </div>
                        </div>
                    </figure>

                    
                    
                    <figure class="content-grid__item js-scroll-show">
                        <div class="content-grid__link">
                            <picture class="content-grid__image-wrap image-wrap-fit js-zooming">
                                <img class="content-grid__image cover" src="assets/img/person_04.jpg" alt="Person" />
                            </picture>
                            <div class="content-grid__caption">
                                <h2 class="content-grid__name title--h5">Roberta Ward</h2>
                                <p class="content-grid__role">Landscape Designer</p>
                            </div>
                        </div>
                    </figure>

    
                    
                    <figure class="content-grid__item js-scroll-show">
                        <div class="content-grid__link">
                            <picture class="content-grid__image-wrap image-wrap-fit js-zooming">
                                <img class="content-grid__image cover" src="assets/img/person_05.jpg" alt="Person" />
                            </picture>
                            <div class="content-grid__caption">
                                <h2 class="content-grid__name title--h5">Angel Harper</h2>
                                <p class="content-grid__role">Client Manager</p>
                            </div>
                        </div>
                    </figure>

    
                    
                    <figure class="content-grid__item js-scroll-show">
                        <div class="content-grid__link">
                            <picture class="content-grid__image-wrap image-wrap-fit js-zooming">
                                <img class="content-grid__image cover" src="assets/img/person_06.jpg" alt="Person" />
                            </picture>
                            <div class="content-grid__caption">
                                <h2 class="content-grid__name title--h5">Ryan Hicks</h2>
                                <p class="content-grid__role">Decorator</p>
                            </div>
                        </div>
                    </figure>

                </div>
            </div> -->
                
            <!-- Video -->
            <div class="container-fully section-about">
                <div class="row">
                    <div class="col-12">
                        <h1 class="title title--h1 js-lines">Misión.</h1>
                    </div>
                    <div class="col-12">
                        <p class="description js-scroll-show">Nuestra misión en Grupo M2, desarrolladora de proyectos inmobiliarios en Yucatán, es crear espacios excepcionales que enriquezcan la calidad de vida de las personas y contribuyan al crecimiento sustentable de la región. Nos comprometemos a diseñar, construir y entregar propiedades innovadoras, funcionales y estéticamente atractivas, que reflejen nuestro compromiso con la excelencia, la sostenibilidad y la satisfacción del cliente. A través de nuestro enfoque en la colaboración, la integridad y el respeto por el entorno local, aspiramos a ser líderes en el desarrollo inmobiliario, generando valor a largo plazo para nuestros clientes, socios y la comunidad en general.</p>
                    </div>
                </div>
           
             </div>
            <!-- /Video -->
                
                        <!-- Video -->
                        <div class="container-fully section-about">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="title title--h1 js-lines">Visión.</h1>
                                </div>
                                <div class="col-12">
                                    <p class="description js-scroll-show">Nuestra visión en Grupo M2 es ser la desarrolladora de proyectos inmobiliarios más reconocida y confiable en Yucatán, reconocida tanto a nivel local como nacional por nuestra capacidad para transformar ideas en realidades arquitectónicas impresionantes. Buscamos establecer nuevos estándares en diseño, calidad de construcción y desarrollo sustentable, siendo líderes en la creación de comunidades residenciales y comerciales que reflejen la rica cultura y el encanto de Yucatán. A través de la innovación constante, la inversión en talento humano y la adaptación a las tendencias cambiantes del mercado, aspiramos a forjar un legado duradero de logros y contribuciones significativas al desarrollo responsable de la región.                                    </p>
                                </div>
                            
                     
                            </div>
                       
                         </div>
                        <!-- /Video -->
   
            </div>		
        </main>
        <!-- /About Us -->
</Layout>