---
import Layout from '../layouts/Layout.astro';
---

<Layout>
        <!-- About Us -->
        <main class="js-scroll">
            <header class="header-page">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="title title--display-1 js-lines">Nuestros Servicios.</h1>
                        </div>
                        <div class="col-12 col-lg-8">
                            <p class="foreword js-scroll-show">Conoce lo que hacemos para ti.</p>
                        </div>	
                    </div>
                </div>				
                <div class="image-gutter">
                    <div class="reveal-box">
                        <img class="cover" src="assets/img/about_01.jpg" alt="" />
                        <span class="reveal-overlay"></span>
                    </div>
                    <span class="text-rotate">Servicios</span>
                </div>
            </header>		
    
            <!-- Services -->
            <div class="container-fully section-about">
                <div class="row">
                    <div class="col-12 col-lg-8 col-xl-6">
                        <h1 class="title title--h1 js-lines">¿Qué<br/>Hacemos?.</h1>
                    </div>
                    <div class="col-12 col-xl-6">
                        <ul class="list-row">
                            <li class="list-row__item js-list">
                                <span class="list-row__col-num weight--600">01.</span>
                                <h4 class="list-row__col-title title title--h5 weight--600">Proyectos Residenciales</h4>
                            </li>
                            <li class="list-row__item js-list">
                                <span class="list-row__col-num weight--600">02.</span>
                                <h4 class="list-row__col-title title title--h5 weight--600">Proyectos de Inversión</h4>
                            </li>
                            <li class="list-row__item js-list">
                                <span class="list-row__col-num weight--600">03.</span>
                                <h4 class="list-row__col-title title title--h5 weight--600">Asesoría Legal</h4>
                            </li>
                        
                        </ul>
                    </div>
                </div>
            </div>
            
        </main>
        <!-- /About Us -->
</Layout>