<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Grupo M2</title>
		    <!-- Styles -->
		<link rel="stylesheet" type="text/css" href="/assets/styles/style.css"/>
		<link rel="stylesheet" type="text/css" href="/assets/demo/style-demo.css"/>
	</head>
	<body>
<!-- Top -->
<nav class="navbar navbar-compact">
    <div class="mr-auto">
<<<<<<< HEAD
        <a class="logo-link magnetic" href="/">
            Grupo M2
=======
        <a class="logo-link magnetic" href="index.html">
            <!-- <img class="logotype" src="assets/images/logotype.svg" alt=""> -->
            <h2>Grupo M2</h2>
>>>>>>> 332cf3174c092cf3e35c945827ab2227a460f3e3
        </a>
    </div>
    <div class="ml-sm-auto">
        <button class="hamburger zoom-cursor magnetic" type="button">
            <span class="hamburger__inner"></span>
        </button>
    </div>
</nav>
<!-- /Top -->

<slot/>
<!-- Footer -->
<footer class="footer js-scroll-show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="footer__contacts list-unstyled">
                    <li>Teléfono: +52 999 508 3931</li>
                    <li>Email: contacto@grupom2.com</li>
                    <li>Dirección: Calle 19 # 122 x 24 y 26 Col. México. Mérida, Yucatán, 97125</li>
                </ul>
                <div class="social footer__social">
                    <a class="social__link" href="https://www.instagram.com/"><i class="icon-instagram"></i></a>
                    <a class="social__link" href="https://www.behance.com/"><i class="icon-behance"></i></a>
                    <a class="social__link" href="https://www.linkedin.com/"><i class="icon-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->	
            
<!-- Overlay nav -->
<div class="nav-overlay">
<div class="nav-overlay__bg"></div>
<div class="nav-overlay__container">
    <ul class="nav-overlay__menu">
        <li class="nav-overlay__menu-item"><span>01</span><a data-text="Inicio." href="/index">Inicio.</a></li>
        <li class="nav-overlay__menu-item"><span>02</span><a data-text="Nosotros." href="/nosotros">Nosotros.</a></li>
        <li class="nav-overlay__menu-item"><span>03</span><a data-text="Blog." href="/blog">Blog.</a></li>
        <li class="nav-overlay__menu-item"><span>04</span><a data-text="Servicios." href="/servicios">Servicios.</a></li>
        <li class="nav-overlay__menu-item"><span>05</span><a data-text="Terrakan Inversión." href="https://terrakan.mx/inversion/">Terrakan Inversión.</a></li>
        <li class="nav-overlay__menu-item"><span>06</span><a data-text="Terrakan Residencial." href="https://terrakan.mx/residencial/">Terrakan Residencial.</a></li>
        <li class="nav-overlay__menu-item"><span>07</span><a data-text="Contacto." href="/contacto">Contacto.</a></li>
    </ul>			
</div>	
</div>
<!-- /Overlay nav -->

<div class="overlay-slideNav"></div>
<!-- Demo Menu -->	

<!-- Cursor -->
<div class="node" id="node"></div>
<div class="cursor" id="cursor"></div>	
<script src="/assets/js/jquery-3.4.1.min.js" is:inline></script>
<script src="/assets/js/plugins.js" is:inline></script>
<script src="/assets/js/common.js" is:inline></script>
<script src="/assets/demo/plugins-demo.js" is:inline></script>


</body>
</html>