<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="assets/img/logo.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Grupo Castillo Mérida</title>
		    <!-- Styles -->
		<link rel="stylesheet" type="text/css" href="/assets/styles/style.css"/>
		<link rel="stylesheet" type="text/css" href="/assets/demo/style-demo.css"/>
	</head>
	<body>
<!-- Top -->
<nav class="navbar navbar-compact">
    <div class="mr-auto">
        <a class="logo-link magnetic" href="/">
            <img style="width:100px;" src="assets/img/logo.jpg" />
        </a>
    </div>
    <div class="ml-sm-auto">
        <button class="hamburger zoom-cursor magnetic" type="button">
            <span class="hamburger__inner"></span>
        </button>
    </div>
</nav>
<!-- /Top -->

<slot/>
<!-- Footer -->
<footer class="footer js-scroll-show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="footer__contacts list-unstyled">
                    <li>Teléfono: +52 999 997 3126</li>
                    <li>Email: grupocastillomerida@gmail.com</li>
                    <li>Dirección: Calle 57 #372 H x 30 y 34 Colonia Centro</li>
                </ul>
                <div class="social footer__social">
                    <a class="social__link" href="https://www.facebook.com/GrupoCastilloMerida"><i class="icon-facebook"></i></a>
                    <a class="social__link" href="https://www.instagram.com/grupocastillomerida?igsh=emE0eTMyeGI3bTVt"><i class="icon-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->	
            
<!-- Overlay nav -->
<div class="nav-overlay">
<div class="nav-overlay__bg"></div>
<div class="nav-overlay__container">
    <ul class="nav-overlay__menu">
        <li class="nav-overlay__menu-item"><a data-text="INICIO" href="/index">INICIO</a></li>
        <li class="nav-overlay__menu-item"><a data-text="NOSOTROS" href="/nosotros">NOSOTROS</a></li>
        <li class="nav-overlay__menu-item"><a data-text="PROPIEDADES" href="/propiedades">PROPIEDADES</a></li>
        <li class="nav-overlay__menu-item"><a data-text="CONTACTO" href="/contacto">CONTACTO</a></li>
    </ul>			
</div>	
</div>
<!-- /Overlay nav -->

<div class="overlay-slideNav"></div>
<!-- Demo Menu -->	

<!-- Cursor -->
<div class="node" id="node"></div>
<div class="cursor" id="cursor"></div>	
<script src="/assets/js/jquery-3.4.1.min.js" is:inline></script>
<script src="/assets/js/plugins.js" is:inline></script>
<script src="/assets/js/common.js" is:inline></script>
<script src="/assets/demo/plugins-demo.js" is:inline></script>


</body>
</html>